// Placeholder to allow overriding predefined variables smoothly.
$base-font-family: 'Roboto', 'Noto Sans KR', sans-serif;

$code-font-family: "Fira Code", monospace;

$base-font-size:   18px;
$base-line-height: 1.75;
$small-font-size:  $base-font-size * 0.875 !default;

// $content-width: 720px ;

